################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VulkanTest/v16
/VulkanTest/x64/Debug
/x64/Debug
/VulkanTest.sln
/Debug
/VulkanTest/Debug
/VulkanTest/VulkanTest.vcxproj
/VulkanTest/VulkanTest.vcxproj.filters
/VulkanTest/VulkanTest.vcxproj.user
